* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

#epic-slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto auto auto;

  #epic-slider-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    .pagination {
      width: 25px;
      height: 25px;
      border-radius: 30px;
      background: #bbb;
      display: inline-block;
      font-family: Arial, sans-serif;
      font-size: 10px;
      text-align: center;
      line-height: 25px;
      color: #fefefe;
      margin: 2px;

      &:hover {
        cursor: pointer;
        background: #ddd;
      }
    }
  }

  #epic-slider-scenes {
    position: relative;
    height: inherit;
    overflow: hidden;

    .epic-slider-scene-container {
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
    }

    .epic-slider-scene-container:first-child {
      display: block;
    }

  }

  #epic-slider-scenes:after {
    content: ' ';
    display: block;
    width: 100%;
  }

}

.one {
  background: #333;
  z-index: 5;
}

.two {
  background: #555;
  z-index: 4;
}

.three {
  background: #777;
  z-index: 3;
}

.four {
  background: #999;
  z-index: 2;
}

.five {
  background: #ccc;
  z-index: 1;
}